<article class="board-container" id="bulletin-board-list" th:fragment="bulletin-board-list">
    <!-- 일반 사용자 게시글 목록 테이블 -->
    <input type="hidden" id="post-type" th:value="${postType}">
    <input type="hidden" id="target-id" th:value="${targetId}">
    <table class="board-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>댓글수</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, iterStat : ${postList}">
            <td th:text="${iterStat.index + 1}">1</td>
            <td>
                <a id="post-link" th:text="${post.title}"
                   th:attr="data-postId=${post.postId}">제목</a>
            </td>
            <td th:text="${post.commentCount}">댓글수</td>
            <td>
                <a th:href="@{|/mypage/${post.userId}|}" th:text="${post.nickname}">닉네임</a>
            </td>
            <td th:text="${post.viewCount}">조회수</td>
            <td th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">날짜</td>
        </tr>
        </tbody>
    </table>

    <div class="board-footer">
        <select class="sort-select" onchange="sortPosts(this.value)">
            <option value="latest">최신순</option>
            <option value="views">조회순</option>
            <option value="likes">추천순</option>
        </select>
        <div class="pagination-container">
            <button class="prev-btn" onclick="changePageDirection('prev')" th:if="${currentPage > 0}">< 이전</button>
            <div class="pagination">
                <a th:classappend="${pageNum - 1 == currentPage ? 'active' : ''}"
                   th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                   th:href="'#'"
                   th:onclick="'changePage(' + ${pageNum} + ')'"
                   th:text="${pageNum}">1</a>
            </div>
            <button class="next-btn" onclick="changePageDirection('next')" th:if="${currentPage < totalPages - 1}">다음 ></button>
        </div>

        <button class="write-btn" onclick="goToWritePage()"
                th:if="${postType == 'ANNOUNCEMENT' ? isAdmin == true : true}">글쓰기
        </button>
    </div>

    <div class="search-box">
        <select id="searchType">
            <option value="title">제목 검색</option>
            <option value="author">작성자 검색</option>
        </select>
        <input id="searchQuery" placeholder=" 검색어를 입력하세요" type="text">
        <button onclick="searchUserPosts()">검색</button>
    </div>
</article>