<article id="category-best" th:fragment="category-best">
    <h3 class="blind">카테고리 베스트</h3>
    <section class="best-container">
        <section id="today-best">
            <h4>오늘의 베스트</h4>
            <hr>
            <div th:each="item : ${todayBest}">
                <div class="best-item">
                    <div class="best-item-count" th:text="${itemStat.count}"></div>
                    <a th:href="@{|/post/${item.postId}|}" th:text="${item.title}"></a>
                    <span th:text="${item.commentCount}"></span>
                </div>
            </div>
        </section>
        <section id="weekly-best">
            <h4>이번주 베스트</h4>
            <hr>
            <div th:each="item : ${weeklyBest}">
                <div class="best-item">
                    <div class="best-item-count" th:text="${itemStat.count}"></div>
                    <a th:href="@{|/post/${item.postId}|}" th:text="${item.title}"></a>
                    <span th:text="${item.commentCount}"></span>
                </div>
            </div>
        </section>
    </section>
</article>
