<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
</head>
<body>
<article id="category-best">
    <h3 class="blind">카테고리 베스트</h3>
    <section class="best-container">
        <section id="today-best">
            <h4>오늘의 베스트</h4>
            <hr>
            <div th:each="item : ${todayBest}">
                <div class="best-item">
                    <div class="best-item-count" th:text="${itemStat.count}"></div>
                    <a th:href="@{'/post/' + ${item.id}}" th:text="${item.title}"></a>
                    <span th:text="${item.commentCount}"></span>
                </div>
            </div>
            <div class="best-item">
                <div class="best-item-count">1</div>
                <a th:href="@{'/post/' + ${item.id}}">제목~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</a>
                <span>5</span>
            </div>
            <div class="best-item">
                <div class="best-item-count">2</div>
                <a th:href="@{'/post/' + ${item.id}}">제목</a>
                <span>10</span>
            </div>
        </section>
        <section id="weekly-best">
            <h4>이번주 베스트</h4>
            <hr>
            <div th:each="item : ${weeklyBest}">
                <div class="best-item">
                    <div class="best-item-count" th:text="${itemStat.count}"></div>
                    <a th:href="@{'/post/' + ${item.id}}" th:text="${item.title}"></a>
                    <span th:text="${item.commentCount}"></span>
                </div>
            </div>
        </section>
    </section>
</article>
</body>
</html>
