<body>
<div class="side-login-container">

    <!-- 로그인되지 않은 경우 -->
    <div th:if="${!isLoggedIn}">
        <h2 class="side-login">로그인이 필요합니다!</h2>
        <p class="class-login-ment">Kakao 아이디로<br>손쉽게 가입 및 이용할 수 있습니다.</p>

        <a class="kakao-login-btn" href="/oauth2/authorization/kakao">
            <img alt="카카오로 시작하기 버튼" th:src="@{/img/kakao-icon.svg}">
        </a>
    </div>

    <!-- 로그인된 경우 -->
    <div class="side-login-profile-container" th:if="${isLoggedIn}">
        <div class="side-login-profile-header">
            <div class="side-login-profile-image-circle" th:style="|background-image: url('${profileImageUrl}');|"></div>

            <div class="side-login-profile-info">
                <p th:text="${userNickname}">닉네임</p>
                <p>
                    <span th:text="${userLevel}">권한</span> |
                    <span th:text="${userActivityScore}">활동점수</span>점
                </p>
            </div>
            <form action="/member/logout" method="post">
                <button class="side-login-logout-btn" type="submit">로그아웃</button>
            </form>
        </div>

        <!-- 구분선 -->
        <div class="side-login-divider"></div>

        <!-- 하단 메뉴 -->
        <div class="side-login-profile-menu">
            <div class="side-login-menu-item" onclick="toggleMenu('notifications')">알림</div>
            <div class="side-login-menu-item" onclick="toggleMenu('userPosts')">작성글</div>
            <div class="side-login-menu-item" onclick="toggleMenu('announcements')">공지</div>
        </div>
    </div>

    <!-- 데이터 출력 영역 -->
    <div class="side-login-data-container" id="menu-data-container" style="display: none;"></div>

</div>
</body>
