<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
</head>
<body>
<article id="participated-challenge">
    <h3>참여 챌린지</h3>
    <section class="container">
        <h4 class="blind">참여한 챌린지 리스트</h4>
        <div class="item" th:each="item : ${participatedChallenge}">
            <div class="best-item-count" th:text="${itemStat.count}">1</div>
            <a th:href="@{'/post/' + ${item.id}}" th:text="${item.title}">제목~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</a>
            <span th:text="${item.commentCount}">10</span>
            <span th:text="${item.likeCount}">100</span>
            <span th:text="${item.createdAt}">24/10/10</span>
        </div>
    </section>
</article>
</body>
</html>
