<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
</head>
<body>
<div th:fragment="participated-challenge">
    <article id="participated-challenge">
        <h3>참여 챌린지</h3>
        <section class="container">
            <div class="table">
                <div class="table-header">
                    <span class="header-cell">번호</span>
                    <span class="header-cell">제목</span>
                    <span class="header-cell">댓글수</span>
                    <span class="header-cell">추천수</span>
                    <span class="header-cell">날짜</span>
                </div>
                <div class="table-row" th:each="item, stat : ${participatedChallenge}">
                    <span class="cell" th:text="${stat.count}">1</span>
                    <span class="cell" th:text="${item.title}">제목</span>
                    <span class="cell" th:text="${item.commentCount}">10</span>
                    <span class="cell" th:text="${item.likeCount}">100</span>
                    <span class="cell" th:text="${item.createdAt}">24/10/10</span>
                </div>
            </div>
        </section>
    </article>
</div>

</body>
</html>
