<section id="profile-manage" th:if="${isAdmin}">
    <h3>등급 관리</h3>
    <div class="activity-score-container">
        <form id="change-activity-score-form" onsubmit="return false">
            <input class="activity-score-input" placeholder="활동점수 변동값" required type="number">
            <input class="activity-score-reason" placeholder="활동점수 변경 사유" required type="text">
            <button class="commit-activity-score" type="button">확인</button>
        </form>
    </div>
    <div class="admin-authority-container">
        <button class="add-admin-authority">관리자 권한 부여</button>
        <button class="delete-admin-authority">관리자 권한 삭제</button>
    </div>
</section>