<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<article id="view-comment">
    <h3>댓글: [(${commentCount})]개</h3>
    <section class="container">
        <h4 class="blind">댓글 리스트</h4>
        <div class="comment" th:attr="data-comment-id=${comment.commentId}" th:each="comment : ${comments}" th:if="${comment.parentCommentId == null}">
            <div class="parent-comment comments-container">
                <div class="content-container">
                    <img th:alt="${comment.profileImageUrl}" th:src="${comment.profileImageUrl}">
                    <div>
                        <div class="top-container">
                            <div>
                                <span class="nickname" th:text="${comment.nickname}">닉네임</span>
                                <button class="like-count">추천: [[${comment.likeCount}]]</button>
                            </div>
                            <span class="updated-at" th:text="${#dates.format(comment.updatedAt, 'yyyy/MM/dd HH:mm:ss')}">수정 시간</span>
                        </div>
                        <span class="content" th:text="${comment.content}">댓글 내용</span>
                        <div class="bottom-container">
                            <button class="reply-button" th:commentId="${comment.commentId}" th:onclick="replyToComment(this.getAttribute('commentId'))" type="button">
                                답글
                            </button>
                            <button class="edit-button" th:commentId="${comment.commentId}" th:if="${comment.userId == userId}" th:onclick="editComment(this.getAttribute('commentId'))" type="button">
                                수정
                            </button>
                            <button class="delete-button" th:commentId="${comment.commentId}" th:if="${comment.userId == userId}" th:onclick="deleteComment(this.getAttribute('commentId'))"
                                    type="button">
                                삭제
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="child-comment" th:attr="data-reply-id=${reply.commentId}" th:each="reply : ${comments}" th:if="${reply.parentCommentId == comment.commentId}">
                <div class="comments-container">
                    <div class="content-container">
                        <img th:alt="${reply.profileImageUrl}" th:src="${reply.profileImageUrl}">
                        <div>
                            <div class="top-container">
                                <div>
                                    <span class="nickname" th:text="${reply.nickname}">닉네임</span>
                                    <button class="like-count">추천: [[${reply.likeCount}]]</button>
                                </div>
                                <span class="updated-at" th:text="${#dates.format(reply.updatedAt, 'yyyy/MM/dd HH:mm:ss')}">수정 시간</span>
                            </div>
                            <span class="content" th:text="${reply.content}">댓글 내용</span>
                            <div class="bottom-container">
                                <button class="edit-button" th:commentId="${reply.commentId}" th:if="${reply.userId == userId}" th:onclick="editComment(this.getAttribute('commentId'))" type="button">
                                    수정
                                </button>
                                <button class="delete-button" th:commentId="${reply.commentId}" th:if="${reply.userId == userId}" th:onclick="deleteComment(this.getAttribute('commentId'))"
                                        type="button">
                                    삭제
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
</article>
<div class="comment-type-container" id="comment-write-container">
    <div class="textarea-container">
        <textarea class="comment-text-box" id="write-comment-text-box" placeholder="댓글을 남겨보세요"></textarea>
        <div class="resize-handler">=</div>
    </div>
    <div class="button-group">
        <button class="cancel-button" id="write-cancel-button" onclick="cancelComment()" style="display:none;" type="button">취소</button>
        <button class="submit-button" onclick="handleSubmit()" type="button">댓글 달기</button>
    </div>
</div>
<div class="comment-type-container" id="comment-edit-container" style="display:none;">
    <div class="textarea-container">
        <textarea class="comment-text-box" id="edit-comment-text-box" placeholder="댓글 수정"></textarea>
        <div class="resize-handler">=</div>
    </div>
    <div class="button-group">
        <button class="cancel-button" onclick="cancelComment()" type="button">취소</button>
        <button class="submit-button" onclick="editComment()" type="button">댓글 수정</button>
    </div>
</div>
<script th:inline="javascript">

    function replyToComment(commentId) {
        const commentContainer = document.querySelector(`.comment[data-comment-id='${commentId}'] .comments-container`);
        const commentWriteContainer = document.getElementById("comment-write-container");
        const commentEditContainer = document.getElementById("comment-edit-container");
        const cancelButton = document.getElementById("write-cancel-button");

        commentContainer.appendChild(commentWriteContainer);

        commentWriteContainer.style.display = "block";
        commentEditContainer.style.display = "none";
        cancelButton.style.display = "inline-block";
    }

    function handleSubmit() {
        const commentWriteContainer = document.getElementById("comment-write-container");
        const parentCommentElement = commentWriteContainer.previousElementSibling ? commentWriteContainer.previousElementSibling.closest(".comment") : null;
        const parentCommentId = parentCommentElement ? parentCommentElement.getAttribute("data-comment-id") : null;

        const isReply = parentCommentId !== null;
        const commentId = isReply ? parentCommentId : null;

        if (isReply) {
            submitReply(commentId);
        } else {
            submitComment();
        }
    }

    function submitReply(commentId) {
        let url = '/api/post/';
        let postId = /*[[${comments[0].postId}]]*/'';

        url += postId + '/comment/' + commentId;

        const content = document.getElementById("write-comment-text-box").value;

        if (content.trim() !== '') {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify({parentCommentId: commentId, content: content}),
                contentType: 'application/json',
                success: function () {
                    document.querySelector(".comment-text-box").value = '';
                    location.reload();
                },
                error: function () {
                    alert("댓글을 추가하는 데 실패했습니다.");
                }
            });
        } else {
            alert("내용을 입력해 주세요.");
        }
    }

    function submitComment() {
        let url = '/api/post/';
        let postId = /*[[${comments[0].postId}]]*/'';

        url += postId + '/comment';

        const content = document.getElementById("write-comment-text-box").value;

        if (content.trim() !== '') {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify({content: content}),
                contentType: 'application/json',
                success: function () {
                    document.querySelector(".comment-text-box").value = '';
                    location.reload();
                },
                error: function () {
                    alert("댓글을 추가하는 데 실패했습니다.");
                }
            });
        } else {
            alert("내용을 입력해 주세요.");
        }
    }

    function editComment(commentId) {
        const commentEditContainer = document.getElementById("comment-edit-container");
        const commentWriteContainer = document.getElementById("comment-write-container");
        const commentContainer = document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container`)
            ? document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container`)
            : document.querySelector(`.comment[data-comment-id='${commentId}'] .comments-container`);

        commentEditContainer.style.display = "block";
        commentWriteContainer.style.display = "none";

        commentContainer.appendChild(commentEditContainer);

        const commentElement = document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container .content`)
            ? document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container .content`)
            : document.querySelector(`.comment[data-comment-id='${commentId}'] .comments-container .content`);
        document.querySelector(".comment-text-box").value = commentElement.innerText;

        document.querySelector(".submit-button").setAttribute("onclick", "editCommentSubmit()");
    }

    function editCommentSubmit() {
        const commentEditContainer = document.getElementById("comment-edit-container");
        const commentElement = commentEditContainer.previousElementSibling.closest(".child-comment") ? commentEditContainer.previousElementSibling.closest(".child-comment") : commentEditContainer.previousElementSibling.closest(".comment");
        const commentId = commentElement.getAttribute("data-reply-id") ? commentElement.getAttribute("data-reply-id") : commentElement.getAttribute("data-comment-id");

        let url = '/api/post/comment/' + commentId;

        const content = document.getElementById("edit-comment-text-box").value;

        if (content.trim() !== '') {
            $.ajax({
                url: url,
                type: 'PUT',
                data: JSON.stringify({content: content}),
                contentType: 'application/json',
                success: function () {
                    document.querySelector(".comment-text-box").value = '';
                    location.reload();
                },
                error: function () {
                    alert("댓글을 추가하는 데 실패했습니다.");
                }
            });
        } else {
            alert("내용을 입력해 주세요.");
        }

    }

    function deleteComment(commentId) {
        if (confirm("댓글을 삭제하시겠습니까?")) {
            fetch(`/api/post/comment/${commentId}`, {
                method: "DELETE"
            }).then(response => {
                if (response.ok) {
                    location.reload();
                }
            });
        }
    }

    function cancelComment() {
        const commentWriteContainer = document.getElementById("comment-write-container");
        const commentEditContainer = document.getElementById("comment-edit-container");
        const cancelButton = document.getElementById("write-cancel-button");

        commentWriteContainer.style.display = "block";
        commentEditContainer.style.display = "none";
        cancelButton.style.display = "none";

        document.getElementById("view-comment").insertAdjacentElement("afterend", document.getElementById("comment-write-container"));
    }

    // TODO 댓글 작성창 크기 조절
    /*const textarea = document.querySelectorAll('.comment-text-box');
    const resizeHandle = document.querySelectorAll('.resize-handler');

    for (let i = 0; i < textarea.length; i++) {
        resizeHandle.item(i).addEventListener('mousedown', (e) => {
            e.preventDefault();

            function resize(e) {
                textarea.item(i).style.height = `${e.clientY - textarea.item(i).getBoundingClientRect().top}px`;
            }

            function stopResize() {
                window.removeEventListener('mousemove', resize);
                window.removeEventListener('mouseup', stopResize);
            }

            window.addEventListener('mousemove', resize);
            window.addEventListener('mouseup', stopResize);
        })
    }*/
</script>
</body>
</html>
