<article id="view-comment" th:fragment="view-comment">
    <h3>댓글: [(${commentCount})]개</h3>
    <section class="container">
        <h4 class="blind">댓글 리스트</h4>
        <div class="comment" th:attr="data-comment-id=${comment.commentId}" th:each="comment : ${comments}" th:if="${comment.parentCommentId == null}">
            <div class="parent-comment comments-container">
                <div class="content-container">
                    <img th:alt="${comment.profileUrl}" th:src="${comment.profileUrl}">
                    <div>
                        <div class="top-container">
                            <div>
                                <span class="nickname" th:text="${comment.nickname}">닉네임</span>
                                <button class="like-count">추천: [[${comment.likeCount}]]</button>
                            </div>
                            <span class="updated-at" th:text="${#dates.format(comment.updatedAt, 'yyyy/MM/dd HH:mm:ss')}">수정 시간</span>
                        </div>
                        <span class="content" th:text="${comment.content}">댓글 내용</span>
                        <div class="bottom-container">
                            <button class="reply-button" th:commentId="${comment.commentId}" th:onclick="replyToComment(this.getAttribute('commentId'))" type="button">
                                답글
                            </button>
                            <button class="edit-button" th:commentId="${comment.commentId}" th:if="${comment.userId == userId}" th:onclick="editComment(this.getAttribute('commentId'))" type="button">
                                수정
                            </button>
                            <button class="delete-button" th:commentId="${comment.commentId}" th:if="${comment.userId == userId || isAdmin}" th:onclick="deleteComment(this.getAttribute('commentId'))"
                                    type="button">
                                삭제
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="child-comment" th:attr="data-reply-id=${reply.commentId}" th:each="reply : ${comments}" th:if="${reply.parentCommentId == comment.commentId}">
                <div class="comments-container">
                    <div class="content-container">
                        <img th:alt="${reply.profileImageUrl}" th:src="${reply.profileImageUrl}">
                        <div>
                            <div class="top-container">
                                <div>
                                    <span class="nickname" th:text="${reply.nickname}">닉네임</span>
                                    <button class="like-count">추천: [[${reply.likeCount}]]</button>
                                </div>
                                <span class="updated-at" th:text="${#dates.format(reply.updatedAt, 'yyyy/MM/dd HH:mm:ss')}">수정 시간</span>
                            </div>
                            <span class="content" th:text="${reply.content}">댓글 내용</span>
                            <div class="bottom-container">
                                <button class="edit-button" th:commentId="${reply.commentId}" th:if="${reply.userId == userId}" th:onclick="editComment(this.getAttribute('commentId'))" type="button">
                                    수정
                                </button>
                                <button class="delete-button" th:commentId="${reply.commentId}" th:if="${reply.userId == userId || isAdmin}" th:onclick="deleteComment(this.getAttribute('commentId'))"
                                        type="button">
                                    삭제
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
</article>
<div class="comment-type-container" id="comment-write-container">
    <div class="textarea-container">
        <textarea class="comment-text-box" id="write-comment-text-box" placeholder="댓글을 남겨보세요"></textarea>
        <div class="resize-handler">=</div>
    </div>
    <div class="button-group">
        <button class="cancel-button" id="write-cancel-button" onclick="cancelComment()" style="display:none;" type="button">취소</button>
        <button class="submit-button" onclick="handleSubmit()" type="button">댓글 달기</button>
    </div>
</div>
<div class="comment-type-container" id="comment-edit-container" style="display:none;">
    <div class="textarea-container">
        <textarea class="comment-text-box" id="edit-comment-text-box" placeholder="댓글 수정"></textarea>
        <div class="resize-handler">=</div>
    </div>
    <div class="button-group">
        <button class="cancel-button" onclick="cancelComment()" type="button">취소</button>
        <button class="submit-button" onclick="editComment()" type="button">댓글 수정</button>
    </div>
</div>
