body {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board-container {
    width: 800px;
    /*height: 1820px;*/
    /*border: 3px solid #3d5c30;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board-table {
    width: 100%;
    height: auto;
    border: 3px solid #3d5c30;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 14px;
}

.board-table th:nth-child(1), .board-table td:nth-child(1) {
    width: 50px; /* 번호 */
}

.board-table th:nth-child(2), .board-table td:nth-child(2) {
    width: 250px; /* 제목 */
}

.board-table th:nth-child(3), .board-table td:nth-child(3) {
    width: 50px; /* 댓글 수 */
}

.board-table th:nth-child(4), .board-table td:nth-child(4) {
    width: 210px; /* (댓글 수) */
}

.board-table th:nth-child(5), .board-table td:nth-child(5) {
    width: 120px; /* 작성자 */
}

.board-table th:nth-child(6), .board-table td:nth-child(6) {
    width: 60px; /* 조회수 */
}

.board-table th:nth-child(7), .board-table td:nth-child(7) {
    width: 60px; /* 날짜 */
}

.board-table th, .board-table td {
    border: 1px solid #3d5c30;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.board-table th {
    background-color: #efefef;
    font-weight: bold;
}

.board-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.board-footer button {
    font-size: 14px;
    cursor: pointer;
}

.sort-select {
    padding: 5px 10px;
    border: 3px solid #3d5c30;
    border-radius: 10px;
    background-color: white;
    width: 90px;
    height: 30px;
    font-size: 13px;
}

.write-btn {
    border: 3px solid #3d5c30;
    border-radius: 10px;
    width: 90px;
    height: 30px;
}

.pagination-container .prev-btn {
    border: none;
    padding: 0px;
    width: 50px;
}

.pagination-container .next-btn {
    border: none;
    padding: 0px;
    width: 50px;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination {
    margin-bottom: 2px;
}

.pagination a {
    margin: 0 5px;
    font-size: 14px;
    width: 10px;
}

.pagination a, .pagination-container button {
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.pagination a:hover, .pagination a.active {
    background-color: #efefef;
}

.search-box {
    display: flex;
    align-items: center;
    border: 3px solid #3d5c30;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    height: 30px;
}

.search-box select {
    width: 105px;
    border: none;
    font-size: 13px;
    padding: 5px;
}

.search-box input[type="text"] {
    width: 256px;
    height: 100%;
    border: none;
    font-size: 16px;
    border-left: 3px solid #3d5c30;
    border-right: 3px solid #3d5c30;
    text-align: center;
}

.board-container button {
    width: 90px;
    height: 30px;
    border: 3px solid #3d5c30;
    background-color: white;
    color: #3d5c30;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
}

.search-box button {
    width: 55px;
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: #3d5c30;
    cursor: pointer;
    font-size: 14px;
}

.admin-controls {
    width: 763px;
    height: 30px;
    border: 3px solid #3d5c30;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    overflow: hidden;
}

.admin-controls select,
.admin-controls input[type="text"],
.admin-controls button {
    height: 100%;
    padding: 5px;
    border: none;
    border-right: 3px solid #3d5c30;
    outline: none;
    flex: 1;
    text-align: center;
    font-size: 14px;
}

/*.admin-controls select {*/
/*    padding-right: 10px;*/
/*}*/

.admin-controls input[type="text"]:last-child,
.admin-controls select:last-child,
.admin-controls button:last-child {
    border-right: none;
}

.search-input {
    width: 256px;
}



