/* 로그인 컨테이너 */
.login-container {
    width: 380px;
    height: 246px;
    border: 3px solid #0B6623;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 프로필 헤더 */
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* 프로필 이미지 */
.profile-image-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #0B6623;
    background-color: #e0e0e0;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 프로필 정보 */
.profile-info {
    flex: 1;
    text-align: left;
}

.profile-info p {
    margin: 2px 0;
}

/* 로그아웃 버튼 */
.logout-btn {
    background-color: #fff;
    color: #0B6623;
    border: 2px solid #0B6623;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

/* 구분선 */
.divider {
    width: calc(100% + 40px);
    height: 3px;
    background-color: #0B6623;
    margin: 80px -20px 15px -20px;
}

/* 하단 프로필 메뉴 */
.profile-menu {
    display: flex;
    width: 380px;
    margin-top: auto;
    justify-content: space-between;
    margin-left: -23px;
}

.menu-item {
    flex: 1;
    text-align: center;
    position: relative;
    padding: 5px 0px;
    cursor: pointer;
    margin: 0 15px;
}

.menu-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -15px;
    top: -50%;
    bottom: 0;
    width: 3px;
    height: 60px;
    background-color: #0B6623;
}

/* 데이터 출력 영역 */
.data-container {
    width: 380px;
    min-height: 240px; /* 고정된 높이 */
    border: 3px solid #0B6623;
    border-radius: 10px;
    text-align: left; /* 글씨를 왼쪽 정렬 */
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 스크롤 제거 */
}

/* 게시글 리스트 */
.post-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 항목 간격 */
    font-size: 14px;
}

.post-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
}

.post-category {
    flex: 0 0 25%; /* 25% 비율 */
    text-overflow: ellipsis; /* 텍스트 초과 처리 */
    white-space: nowrap;
    overflow: hidden;
}

.post-title {
    flex: 0 0 60%; /* 60% 비율 */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.post-comments {
    flex: 0 0 15%; /* 15% 비율 */
    text-align: right;
}
