<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타임리프 레이아웃</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <section class="header-top">
        <div class="logo" th:src="@{/images/logo.png}"></div>
        <input class="search-bar" placeholder="검색어를 입력하세요" type="text">
        <!-- <button onclick="searchUserPosts()">검색</button> -->
    </section>
    <nav>
        <div class="menu-item" th:each="menu, iterStat : ${subMenus}">
            <span th:text="${menu.title}"></span>
            <!-- 서브메뉴 -->
            <div class="submenu">
                <span class="submenu-item" th:each="item : ${menu.items}" th:text="${item}"></span>
            </div>
        </div>
        <!-- 마지막 메뉴 뒤에는 divider가 나타나지 않게 설정 -->
        <div class="divider" th:if="${!iterStat.last}"></div>
    </nav>
</header>

<main>
    <section class="main-contents">
        <div th:if="${mainFragment1 != null}">
            <div th:replace="fragment/mypage-profile.html :: mypage-profile"></div>
        </div>
        <div th:if="${mainFragment2 != null}">
            <div th:replace="fragment/my-objective.html :: my-objective"></div>
        </div>
        <div th:if="${mainFragment3 != null}">
            <div th:replace="fragment/participated-challenge.html :: participated-challenge"></div>
        </div>
        <div th:if="${mainFragmen4 != null}">
            <div> th:replace="testHtml/register.html :: register"></div>
        </div>
        <div th:if="${mainFragment5 != null}">
            <div> th:replace="/fragment/edit-profile.html :: edit-profile"></div>
        </div>
        <div th:if="${mainFragment6 != null}">
            <div> th:replace="${mainFragment6}"></div>
        </div>
    </section>
    <section class="side-contents">
        <div th:if="${sideFragment1 != null}">
            <div> th:replace="/testHtml/login.html :: login"></div>
        </div>
        <div th:if="${sideFragment2 != null}">
            <div> th:replace="${sideFragment2}"></div>
        </div>
        <div th:if="${sideFragment3 != null}">
            <div> th:replace="${sideFragment3}"></div>
        </div>
    </section>
</main>

<footer>

</footer>

</body>
</html>
