<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MomenTree</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <section class="header-top">
        <h1><a th:href="@{/}"><img alt="MomemTree" class="logo" th:src="@{/images/logo.png}"></a><span class="blind">MomenTree</span>
        </h1>
        <input class="search-bar" placeholder="검색" type="text">
    </section>
    <nav>
        <div class="menu-item" th:each="menu : ${subMenus}">
            <a th:href="${menu.url}" th:text="${menu.title}"></a>
            <div class="submenu" th:if="${menu.items != null}">
                <button class="submenu-item"
                        th:attr="href=${menu.itemUrls[stat.index.intValue()]}"
                        th:each="item, stat : ${menu.items}"
                        th:text="${item}">
                </button>
            </div>
        </div>
    </nav>
</header>

<main>
    <section class="main-contents">
        <div th:if="${mainFragment1 != null}">
            <div th:replace="${mainFragment1}"></div>
        </div>
        <div th:if="${mainFragment2 != null}">
            <div th:replace="${mainFragment2}"></div>
        </div>
        <div th:if="${mainFragment3 != null}">
            <div th:replace="${mainFragment3}"></div>
        </div>
        <div th:if="${mainFragment4 != null}">
            <div th:replace="${mainFragment4}"></div>
        </div>
        <div th:if="${mainFragment5 != null}">
            <div th:replace="${mainFragment5}"></div>
        </div>
        <div th:if="${mainFragment6 != null}">
            <div th:replace="${mainFragment6}"></div>
        </div>
    </section>
    <section class="side-contents">
        <div th:if="${sideFragment1 != null}">
            <div th:replace="${sideFragment1}"></div>
        </div>
        <div th:if="${sideFragment2 != null}">
            <div th:replace="${sideFragment2}"></div>
        </div>
        <div th:if="${sideFragment3 != null}">
            <div th:replace="${sideFragment3}"></div>
        </div>
    </section>
</main>
<footer></footer>
<script th:inline="javascript">
    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        }
    });

    // 전역 AJAX 에러 핸들러
    $(document).ajaxError(function (event, jqXHR) {
        if (jqXHR.status === 403) {
            Swal.fire({
                title: '접근 제한',
                text: '접근 권한이 없습니다.',
                icon: 'error',
                confirmButtonText: '확인',
                confirmButtonColor: '#3085d6',
                width: '360px'
            });
        }
    });

    // 사용 예시: AJAX 요청
    $(document).ready(function () {
        $('.submenu-item').click(function () {
            let url = $(this).attr('href');
            if (url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (response) {
                        window.location.href = url;
                    }
                    // 실패 시에는 위의 전역 에러 핸들러가 처리함
                });
            }
        });
    });

    // 전체 검색
    $(document).ready(function () {
        $('.search-bar').on('keypress', function (event) {
            if (event.which === 13) { // Enter 키의 키코드
                event.preventDefault(); // 기본 동작 방지
                let keyword = $(this).val(); // 입력된 값 가져오기

                window.location.href = '/search?keyword=' + keyword;
            }
        });
    });

    // write-post
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        if (textarea.scrollHeight <= 700) {
            textarea.style.height = Math.max(560, textarea.scrollHeight) + 'px';
            textarea.style.overflowY = 'hidden';
        } else {
            textarea.style.height = '700px';
            textarea.style.overflowY = 'scroll';
        }
    }

    function updatePost() {
        let postId = document.getElementById('post-id').value;
        let userId = document.getElementById('user-id').value;
        const postType = document.getElementById('post-type').value;

        const targetId = postType === 'PARTICIPATION_CATEGORY'
            ? document.getElementById('categories').value
            : postType === 'PARTICIPATION_REGION'
                ? document.getElementById('regions').value
                : null;

        $.ajax({
            url: `/api/post/${postId}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                title: document.getElementById('title').value,
                content: document.getElementById('content').value,
                userId: userId,
                postType: postType,
                targetId: targetId
            }),
            success: function () {
                alert('수정이 완료되었습니다');

                let redirectUrl = '';
                if (postType === 'PARTICIPATION_CATEGORY') {
                    redirectUrl = `/category/post/${postId}?targetId=${targetId}`;
                } else if (postType === 'PARTICIPATION_REGION') {
                    redirectUrl = `/region/post/${postId}?targetId=${targetId}`;
                } else if (postType === 'PARTICIPATION_CHALLENGE') {
                    redirectUrl = `/challenge/post/${postId}`;
                } else if (postType === 'ANNOUNCEMENT') {
                    redirectUrl = `/announcement/post/${postId}`;
                } else if (postType === 'GENERATION_CHALLENGE') {
                    redirectUrl = `/announcement/post/${postId}`;
                } else {
                    redirectUrl = `/index`;
                }
                location.replace(redirectUrl);
            },
            error: function () {
                alert("수정에 실패했습니다.");
            }
        });
    }

    function createPost() {
        let userId = document.getElementById('user-id').value;
        const postType = document.getElementById('post-type').value;

        const targetId = postType === 'PARTICIPATION_CATEGORY'
            ? document.getElementById('categories').value
            : postType === 'PARTICIPATION_REGION'
                ? document.getElementById('regions').value
                : null;

        $.ajax({
            url: `/api/post/${userId}/create`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                title: $('#title').val(),
                content: $('#content').val(),
                userId: userId,
                postType: postType,
                targetId: targetId
            }),
            success: function (data) {
                const postId = data.postId;
                alert('등록이 완료되었습니다.');

                let redirectUrl = '';
                if (postType === 'PARTICIPATION_CATEGORY') {
                    redirectUrl = `/category/post/${postId}?targetId=` + targetId;
                } else if (postType === 'PARTICIPATION_REGION') {
                    redirectUrl = `/region/post/${postId}?targetId=` + targetId;
                } else if (postType === 'PARTICIPATION_CHALLENGE') {
                    redirectUrl = `/challenge/post/${postId}`;
                } else if (postType === 'ANNOUNCEMENT') {
                    redirectUrl = `/announcement/post/${postId}`;
                } else if (postType === 'GENERATION_CHALLENGE') {
                    redirectUrl = `/announcement/post/${postId}`;
                } else {
                    redirectUrl = `/index`;
                }

                location.replace(redirectUrl);
            },
            error: function () {
                alert('등록에 실패했습니다.');
            }
        });
    }

    function cancelPost() {
        let postId = document.getElementById('post-id').value;
        const postType = document.getElementById('post-type').value;
        const targetId = postType === 'PARTICIPATION_CATEGORY'
            ? document.getElementById('categories').value
            : postType === 'PARTICIPATION_REGION'
                ? document.getElementById('regions').value
                : null;

        let redirectUrl = '';

        if (postId) {
            if (postType === 'PARTICIPATION_CATEGORY') {
                redirectUrl = `/category/post/${postId}?targetId=${targetId}`;
            } else if (postType === 'PARTICIPATION_REGION') {
                redirectUrl = `/region/post/${postId}?targetId=${targetId}`;
            } else if (postType === 'PARTICIPATION_CHALLENGE') {
                redirectUrl = `/challenge/post/${postId}`;
            } else if (postType === 'ANNOUNCEMENT') {
                redirectUrl = `/announcement/post/${postId}`;
            } else if (postType === 'GENERATION_CHALLENGE') {
                redirectUrl = `/announcement/post/${postId}`;
            } else {
                redirectUrl = `/index`;
            }
        } else {
            if (postType === 'PARTICIPATION_CATEGORY') {
                redirectUrl = `/category?id=${targetId}`;
            } else if (postType === 'PARTICIPATION_REGION') {
                redirectUrl = `/region?id=${targetId}`;
            } else if (postType === 'PARTICIPATION_CHALLENGE') {
                redirectUrl = `/challenge`;
            } else if (postType === 'ANNOUNCEMENT' || postType === 'GENERATION_CHALLENGE') {
                redirectUrl = `/announcement`;
            } else {
                redirectUrl = `/index`;
            }
        }

        location.replace(redirectUrl);
    }

    // view-post
    function adjustContainerHeight() {
        const postContent = document.querySelector('.post-content');
        const buttons = document.querySelector('.action-buttons');
        const minHeight = 700;

        if (postContent) {
            if (postContent.scrollHeight < minHeight) {
                buttons.style.marginTop = `${minHeight - postContent.scrollHeight + 20}px`;
            } else {
                buttons.style.marginTop = '20px';
            }
        }
    }

    adjustContainerHeight();

    function modifyPost() {
        const postId = document.getElementById("post-id").value;
        const postType = document.getElementById("post-type").value;
        const targetId = document.getElementById("target-id").value;

        if (postId && postType) {
            let locationPath = ``;

            if (postType === 'PARTICIPATION_CATEGORY' || postType === 'PARTICIPATION_REGION') {
                locationPath = `/write?postId=${postId}&postType=${postType}&targetId=${targetId}`;
            } else {
                locationPath = `/writeChallenge?postId=${postId}&postType=${postType}`;
            }

            location.href = locationPath;
        }
    }

    function deletePost() {
        let id = document.getElementById('post-id').value;
        const postType = document.getElementById("post-type").value;
        const targetId = document.getElementById("target-id").value;

        $.ajax({
            url: `/api/post/${id}`,
            type: 'DELETE',
            success: function () {
                alert('삭제가 완료되었습니다');

                let redirectPath = '/post/posts';
                switch (postType) {
                    case 'PARTICIPATION_CATEGORY':
                        redirectPath = `/category?id=${targetId}`;
                        break;
                    case 'PARTICIPATION_REGION':
                        redirectPath = `/region?id=${targetId}`;
                        break;
                    case 'PARTICIPATION_CHALLENGE':
                        redirectPath = `/challenge`;
                        break;
                    default:
                        redirectPath = `/announcement`;
                        break;
                }

                location.replace(redirectPath);
            },
            error: function () {
                console.error('삭제에 실패했습니다.');
            }
        });
    }

    function toggleLike() {
        const targetId = document.getElementById("post-id").value;
        const userId = document.getElementById("user-id").value;
        const likeButton = document.getElementById("like-button");
        const likeText = document.getElementById("like-text");
        const likeCountElement = document.getElementById("like-count");

        const isLiked = likeButton.textContent.includes("취소");
        const url = isLiked ? "/api/post/unlike" : "/api/post/like";

        likeButton.disabled = true;

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({targetId, userId}),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    likeText.textContent = isLiked ? "좋아요" : "좋아요 취소";
                    likeCountElement.textContent = data.likeCount.toString();
                }
            })
            .catch(error => console.error("Error:", error))
            .finally(() => {
                likeButton.disabled = false;
            });
    }

    // view-comment
    function replyToComment(commentId) {
        const commentContainer = document.querySelector(`.comment[data-comment-id='${commentId}'] .comments-container`);
        const commentWriteContainer = document.getElementById("comment-write-container");
        const commentEditContainer = document.getElementById("comment-edit-container");
        const cancelButton = document.getElementById("write-cancel-button");

        commentContainer.appendChild(commentWriteContainer);

        commentWriteContainer.style.display = "block";
        commentEditContainer.style.display = "none";
        cancelButton.style.display = "inline-block";
    }

    function handleSubmit() {
        const commentWriteContainer = document.getElementById("comment-write-container");
        const parentCommentElement = commentWriteContainer.previousElementSibling ? commentWriteContainer.previousElementSibling.closest(".comment") : null;
        const parentCommentId = parentCommentElement ? parentCommentElement.getAttribute("data-comment-id") : null;

        const isReply = parentCommentId !== null;
        const commentId = isReply ? parentCommentId : null;

        if (isReply) {
            submitReply(commentId);
        } else {
            submitComment();
        }
    }

    function submitReply(commentId) {
        let url = '/api/post/';
        let postId =  /*[[${postId}]]*/ '';

        url += postId + '/comment/' + commentId;

        const content = document.getElementById("write-comment-text-box").value;

        if (content.trim() !== '') {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify({parentCommentId: commentId, content: content}),
                contentType: 'application/json',
                success: function () {
                    document.querySelector(".comment-text-box").value = '';
                    location.reload();
                },
                error: function () {
                    alert("댓글을 추가하는 데 실패했습니다.");
                }
            });
        } else {
            alert("내용을 입력해 주세요.");
        }
    }

    function submitComment() {
        let url = '/api/post/';
        let postId = /*[[${postId}]]*/'';

        url += postId + '/comment';

        const content = document.getElementById("write-comment-text-box").value;

        if (content.trim() !== '') {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify({content: content}),
                contentType: 'application/json',
                success: function () {
                    document.querySelector(".comment-text-box").value = '';
                    location.reload();
                },
                error: function () {
                    alert("댓글을 추가하는 데 실패했습니다.");
                }
            });
        } else {
            alert("내용을 입력해 주세요.");
        }
    }

    function editComment(commentId) {
        const commentEditContainer = document.getElementById("comment-edit-container");
        const commentWriteContainer = document.getElementById("comment-write-container");
        const commentContainer = document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container`)
            ? document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container`)
            : document.querySelector(`.comment[data-comment-id='${commentId}'] .comments-container`);

        commentEditContainer.style.display = "block";
        commentWriteContainer.style.display = "none";

        commentContainer.appendChild(commentEditContainer);

        const commentElement = document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container .content`)
            ? document.querySelector(`.child-comment[data-reply-id='${commentId}'] .comments-container .content`)
            : document.querySelector(`.comment[data-comment-id='${commentId}'] .comments-container .content`);
        document.querySelector(".comment-text-box").value = commentElement.innerText;

        document.querySelector(".submit-button").setAttribute("onclick", "editCommentSubmit()");
    }

    function editCommentSubmit() {
        const commentEditContainer = document.getElementById("comment-edit-container");
        const commentElement = commentEditContainer.previousElementSibling.closest(".child-comment") ? commentEditContainer.previousElementSibling.closest(".child-comment") : commentEditContainer.previousElementSibling.closest(".comment");
        const commentId = commentElement.getAttribute("data-reply-id") ? commentElement.getAttribute("data-reply-id") : commentElement.getAttribute("data-comment-id");

        let url = '/api/post/comment/' + commentId;

        const content = document.getElementById("edit-comment-text-box").value;

        if (content.trim() !== '') {
            $.ajax({
                url: url,
                type: 'PUT',
                data: JSON.stringify({content: content}),
                contentType: 'application/json',
                success: function () {
                    document.querySelector(".comment-text-box").value = '';
                    location.reload();
                },
                error: function () {
                    alert("댓글을 추가하는 데 실패했습니다.");
                }
            });
        } else {
            alert("내용을 입력해 주세요.");
        }

    }

    function deleteComment(commentId) {
        if (confirm("댓글을 삭제하시겠습니까?")) {
            fetch(`/api/post/comment/${commentId}`, {
                method: "DELETE"
            }).then(response => {
                if (response.ok) {
                    location.reload();
                }
            });
        }
    }

    function cancelComment() {
        const commentWriteContainer = document.getElementById("comment-write-container");
        const commentEditContainer = document.getElementById("comment-edit-container");
        const cancelButton = document.getElementById("write-cancel-button");

        commentWriteContainer.style.display = "block";
        commentEditContainer.style.display = "none";
        cancelButton.style.display = "none";

        document.getElementById("view-comment").insertAdjacentElement("afterend", document.getElementById("comment-write-container"));
    }

    // TODO 댓글 작성창 크기 조절
    /*const textarea = document.querySelectorAll('.comment-text-box');
    const resizeHandle = document.querySelectorAll('.resize-handler');

    for (let i = 0; i < textarea.length; i++) {
        resizeHandle.item(i).addEventListener('mousedown', (e) => {
            e.preventDefault();

            function resize(e) {
                textarea.item(i).style.height = `${e.clientY - textarea.item(i).getBoundingClientRect().top}px`;
            }

            function stopResize() {
                window.removeEventListener('mousemove', resize);
                window.removeEventListener('mouseup', stopResize);
            }

            window.addEventListener('mousemove', resize);
            window.addEventListener('mouseup', stopResize);
        })
    }*/

    // bulletin-board-list
    function sortPosts(sortValue) {
        const urlParams = new URLSearchParams(window.location.search);

        // 정렬 값 업데이트
        urlParams.set("sort", sortValue);
        urlParams.set("page", 0); // 정렬 변경 시 첫 페이지로 이동

        // 새 URL로 이동
        window.location.search = urlParams.toString();
    }

    function changePageDirection(direction) {
        const currentPage = parseInt(new URLSearchParams(window.location.search).get('page')) || 1;
        const totalPages = /*[[${totalPages}]]*/ 0;
        let newPage = currentPage;

        if (direction === 'prev' && currentPage > 0) {
            newPage = currentPage - 1;
        } else if (direction === 'next' && currentPage < totalPages - 1) {
            newPage = currentPage + 1;
        }

        const url = new URL(window.location.href);
        url.searchParams.set('page', newPage);
        window.location.href = url.toString();
    }

    function changePage(page) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page', (page - 1).toString());
        window.location.search = urlParams.toString();
    }

    let isSearching = false;

    function searchUserPosts() {
        if (isSearching) return;
        isSearching = true;

        const searchType = document.querySelector('.search-box select').value;
        const searchQuery = document.querySelector('.search-box input[type="text"]').value;
        const postType = document.getElementById('post-type').value;
        const targetId = document.getElementById('target-id').value;

        if (searchQuery.trim() === "") {
            alert("검색어를 입력하세요.");
            isSearching = false;
            return;
        }

        const url = new URL(window.location.origin);

        if (postType === 'PARTICIPATION_CATEGORY') {
            url.pathname = `/category/search`;
            url.searchParams.set('id', targetId);
        } else if (postType === 'PARTICIPATION_REGION') {
            url.pathname = `/region/search`;
            url.searchParams.set('id', targetId);
        } else if (postType === 'ANNOUNCEMENT') {
            url.pathname = `/announcement/search`;
        } else {
            url.pathname = `/challenge/search`
        }

        url.searchParams.set('searchType', searchType);
        url.searchParams.set('query', searchQuery);

        window.location.href = url.toString();

        setTimeout(() => {
            isSearching = false;
        }, 1000);
    }

    function goToWritePage() {
        // 글쓰기 페이지로 이동
        const postType = document.getElementById('post-type').value;
        const targetId = document.getElementById('target-id').value;
        if (postType === 'PARTICIPATION_CATEGORY' || postType === 'PARTICIPATION_REGION') {
            window.location.href = `/write?postType=${postType}&targetId=${targetId}`;
        } else {
            window.location.href = `/writeChallenge?postType=${postType}`;
        }
    }

    function searchAdminPosts() {
        const searchType = document.querySelector('select[name="searchType"]').value;
        const postType = document.querySelector('select[name="post_type"]').value;
        const targetId = document.querySelector('select[name="target_id"]').value;
        const isActive = document.querySelector('select[name="isActive"]').value;
        const searchQuery = document.querySelector('input[name="searchQuery"]').value;

        const url = new URL(window.location.href);
        url.searchParams.set("searchType", searchType);
        url.searchParams.set("postType", postType);
        url.searchParams.set("targetId", targetId);
        url.searchParams.set("isActive", isActive);
        url.searchParams.set("searchQuery", searchQuery);

        window.location.href = url.toString();
    }

    document.querySelectorAll('.post-link').forEach(function (link) {
        const postType = document.getElementById('post-type').value;
        const postId = link.getAttribute('data-postId');
        const targetId = document.getElementById('target-id').value;
        let url = '';

        switch (postType) {
            case 'PARTICIPATION_CATEGORY':
                url = `/category/post/${postId}?targetId=${targetId}`;
                break;
            case 'PARTICIPATION_REGION':
                url = `/region/post/${postId}?targetId=${targetId}`;
                break;
            case 'PARTICIPATION_CHALLENGE':
                url = `/challenge/post/${postId}`;
                break;
            case 'ANNOUNCEMENT':
                url = `/announcement/post/${postId}`;
                break;
            default:
                url = `/post/${postId}`;
                break;
        }

        link.setAttribute('href', url);
    });

    const objectivesData = /*[[${objectiveData}]]*/'';

    document.addEventListener("DOMContentLoaded", function () {
        // Chart.js를 사용하여 차트 생성
        const ctx = document.getElementById('barChart').getContext('2d');
        const barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: objectivesData.map(item => item.month + '월'), // 월별 레이블
                datasets: [{
                    label: '달성률 (%)',
                    data: objectivesData.map(item => item.amount), // 달성률 데이터
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            font: {
                                size: 15
                            }
                        },
                        border: {
                            width: 1,
                            color: 'black',
                        },
                    },
                    y: {
                        beginAtZero: true,
                        max: 100,
                        ticks: {
                            callback: function (value) {
                                return value + '%'; // y축에 % 표시
                            }
                        },
                        border: {
                            width: 1,
                            color: 'black',
                        },
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                    }
                }
            }
        });
    });

    // 폼 제출 함수
    function submitRegisterForm() {
        $.ajax({
            type: 'POST',
            url: '/member/register',
            contentType: 'application/json',
            data: JSON.stringify({
                email: $("#email").val(),
                nickname: $("#nickname").val(),
                profileImageUrl: $("#imageInput").attr("data-image-url"),
                selfIntro: $("#selfIntro").val(),
                snsLink: $("#snsLink").val()
            }),
            success: function () {
                alert('회원가입이 완료되었습니다!');
                window.location.href = '/oauth2/authorization/kakao'; // 필요한 URL로 리다이렉트
            },
            error: function (error) {
                console.error('Error:', error);
                alert('회원가입 중 오류가 발생했습니다.');
            }
        });
    }

    function checkNickname() {
        const nickname = document.getElementById('nickname').value;
        $.ajax({
            url: '/nickname-check',
            type: 'GET',
            data: {
                nickname: encodeURIComponent(nickname)
            },
            dataType: 'json',
            success: function (data) {
                if (data.isAvailable) {
                    alert("사용 가능한 닉네임입니다.");
                } else {
                    alert("이미 사용 중인 닉네임입니다.");
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                alert("닉네임 확인 중 오류가 발생했습니다.");
            }
        });
    }

    window.onload = function () {
        const profileImageUrl = /*[[${profileImageUrl}]]*/'';
        const imagePreview = document.getElementById('imagePreview');
        if (profileImageUrl) {
            imagePreview.style.backgroundImage = `url(${profileImageUrl})`;
            imagePreview.style.backgroundSize = 'cover';
        }
    }

    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.style.backgroundImage = `url(${reader.result})`;
            imagePreview.style.backgroundSize = 'cover';
        };
        reader.readAsDataURL(event.target.files[0]);

        uploadImage(event.target.files[0]);
    }

    function uploadImage(file) {
        const formData = new FormData();
        formData.append('file', file);

        $.ajax({
            type: 'POST',
            url: '/api/image/upload', // 이미지 업로드 API 엔드포인트
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // 서버로부터 받은 이미지 URL을 hidden input에 저장
                $("#imageInput").attr('data-image-url', response.imageUrl);
            },
            error: function (error) {
                console.error('Error uploading image:', error);
                alert('이미지 업로드 중 오류가 발생했습니다.');
            }
        });
    }

    function submitProfileEditForm() {
        let userId = document.getElementById('edit-profile').getAttribute('data-user-id');

        $.ajax({
            type: 'PUT',
            url: `/mypage/${userId}/userinfo`,
            contentType: 'application/json',
            data: JSON.stringify({
                nickname: $("#nickname").val(),
                profileImageUrl: $("#imageInput").attr("data-image-url"),
                selfIntro: $("#selfIntro").val(),
                snsLink: $("#snsLink").val()
            }),
            success: function () {
                alert('수정이 완료되었습니다!');
                window.location.href = `/mypage/${userId}`;
            },
            error: function (error) {
                console.error('Error:', error);
                alert('오류가 발생했습니다.');
            }
        });
    }

    function cancelProfileEdit() {
        let userId = document.getElementById('edit-profile').getAttribute('data-user-id');

        window.location.href = '/mypage/' + userId;
    }

    function profileDeleteUser(message = "정말로 탈퇴하시겠습니까?") {
        if (confirm(message)) {
            window.location.href = '/member/cancellation';
        }
    }

    function changeActivityScore(e) {
        let userId = document.getElementById('mypage-profile').getAttribute('data-user-id');
        e.preventDefault();

        const score = document.querySelector('.activity-score-input').value;
        const reason = document.querySelector('.activity-score-reason').value;

        if (!score || !reason) {
            if (!score && !reason) {
                alert('모든 필드를 입력해주세요.');
            } else if (!score) {
                alert('숫자를 입력해주세요.');
            } else if (!reason) {
                alert('필드를 입력해주세요.');
            }
            return;
        }

        $.ajax({
            url: `/mypage/${userId}/changeActivityScore`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                score: score,
                reason: reason
            }),
            success: function (response) {
                alert('저장되었습니다.');
                location.reload();
            },
            error: function (xhr, status, error) {
                alert('저장에 실패했습니다.');
            }
        });
    }

    $(document).ready(function () {
        const form = document.getElementById('change-activity-score-form')

        form.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                return false;
            }
        });

        $('.commit-activity-score').click(function (e) {
            changeActivityScore(e);
        });
    });

    let activeMenu = null;

    function toggleMenu(menuType) {
        const container = document.getElementById('menu-data-container');

        if (activeMenu === menuType) {
            container.style.display = 'none';
            activeMenu = null;
        } else {
            fetchData(menuType);
            container.style.display = 'block';
            activeMenu = menuType;
        }
    }

    function fetchData(menuType) {
        fetch(`/api/${menuType}`)
            .then(response => response.json())
            .then(data => {
                if (menuType === 'userPosts' || menuType === 'notifications' || menuType === 'announcements') {
                    renderDataWithLinks(menuType, data.slice(0, 5));
                } else {
                    displayData(menuType, data);
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                displayData(menuType, []);
            });
    }

    function renderDataWithLinks(menuType, data) {
        const container = document.getElementById('menu-data-container');
        container.innerHTML = ''; // 기존 내용을 초기화

        let categoryTitle = ''; // 상위 카테고리 제목 변수
        if (menuType === 'notifications') {
            categoryTitle = '알림';
        } else if (menuType === 'userPosts') {
            categoryTitle = '작성글';
            menuLink = '/mypage/written';
        } else if (menuType === 'announcements') {
            categoryTitle = '공지사항';
            menuLink = '/announcement';
        } else {
            categoryTitle = '카테고리 없음';
        }

        let html = `<div class="side-login-post-list">`;

        // 상위 카테고리 제목 추가
        html += `<a href="${menuLink}" class="side-login-post-category-head">${categoryTitle}</a>`;

        if (data.length === 0) {
            html += '<p class="side-login-post-empty">(내용이 없습니다)</p>'; // 데이터가 없을 때 출력
        } else {
            // 데이터 순회하며 게시글 항목 추가
            data.forEach(item => {
                // 동적 경로 설정
                let postLink = '';
                if (item.postType === 'PARTICIPATION_REGION') {
                    postLink = `/region/post/${item.postId}?targetId=${item.targetId}`;
                    postCategory = "지역";
                } else if (item.postType === 'PARTICIPATION_CATEGORY') {
                    postLink = `/category/post/${item.postId}?targetId=${item.targetId}`;
                    postCategory = "카테고리";
                } else if (item.postType === 'ANNOUNCEMENT') {
                    postLink = `/announcement/post/${item.postId}`;
                    postCategory = "공지";
                } else if (
                    item.postType === 'PARTICIPATION_CHALLENGE' ||
                    item.postType === 'GENERATION_CHALLENGE'
                ) {
                    postLink = `/challenge/post/${item.postId}`;
                    postCategory = "챌린지";
                } else {
                    postLink = `/post/${item.postId}`;
                }

                html += `
                <div class="side-login-post-item">
                    <span class="side-login-post-category">${postCategory || '카테고리 없음'}</span>
                    <a href="${postLink}" class="side-login-post-title">${item.title}</a>
                    <span class="side-login-post-comments">${item.commentCount || ''}</span>
                </div>
            `;
            });
        }

        html += `</div>`; // 외부 컨테이너 닫기
        container.innerHTML = html; // 최종 HTML 설정
    }


    function displayData(menuType, data) {
        const container = document.getElementById('menu-data-container');
        container.innerHTML = '';

        const titleMap = {
            notifications: '알림',
            userPosts: '작성글',
            announcements: '공지'
        };

        const title = titleMap[menuType] || '정보';
        let html = `<div class="menu-data"><h3>${title}</h3>`;

        if (data.length === 0) {
            html += '<p>(내용이 없습니다)</p>';
        } else {
            data.forEach(item => {
                html += `<p>${item}</p>`;
            });
        }

        html += '</div>';
        container.innerHTML = html;
    }

    function addObjective() {
        const objectiveList = document.querySelector('.objective-list');
        const objectiveItem = document.createElement('div');
        objectiveItem.classList.add('objective-item');
        objectiveItem.innerHTML = `
            <input type="hidden" class="objective-id" value="">
            <input type="text" class="objective-input box" placeholder="목표를 입력하세요">
            <input type="month" class="date-input box">
            <button class="delete-button button box" onclick="deleteObjective(this)">삭제</button>
            <input type="checkbox" class="checkbox">
        `;
        objectiveList.appendChild(objectiveItem);
    }

    // 목표 삭제 함수
    function deleteObjective(button) {
        const objectiveItem = button.parentElement;
        objectiveItem.remove();
    }

    // 목표 저장 함수
    function saveObjectives() {
        let userId = document.getElementById('edit-objective').getAttribute('data-user-id');
        const objectives = [];
        document.querySelectorAll('.objective-item').forEach(item => {
            const id = item.querySelector('.objective-id').value;
            const content = item.querySelector('.objective-input').value;
            const date = item.querySelector('.date-input').value + "-01"; // 날짜 형식 수정
            const isCompleted = item.querySelector('.checkbox').checked;
            if (content.trim() && date) {
                objectives.push({id: id || null, content, objectiveYearMonth: date, isCompleted});
            }
        });

        fetch(`/mypage/${userId}/objectives`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(objectives)
        }).then(response => {
            if (response.ok) {
                alert('목표가 저장되었습니다.');
                location.reload();
                window.location.href = `/mypage/${userId}`;
            } else {
                alert('목표 저장에 실패했습니다.');
            }
        });
    }


    // 취소 함수
    function cancelEdit() {
        location.reload();
        let userId = document.getElementById('edit-objective').getAttribute('data-user-id');
        window.location.href = `/mypage/${userId}`;
    }

    $(document).ready(function () {
        $('.add-admin-authority').click(function () {
            const userId = document.getElementById('mypage-profile').getAttribute('data-user-id');

            $.ajax({
                url: `/member/${userId}/authority/addAdmin`,
                type: 'GET',
                success: function (response) {
                    if (response === 'success') {
                        alert('관리자 권한이 부여되었습니다.');
                        location.reload();
                    }
                },
                error: function (xhr) {
                    if (xhr.status === 403) {
                        alert('권한이 없습니다.');
                    } else {
                        alert('오류가 발생했습니다.');
                    }
                }
            });
        });
    });

    $(document).ready(function () {
        $('.delete-admin-authority').click(function () {
            const userId = document.getElementById('mypage-profile').getAttribute('data-user-id');

            $.ajax({
                url: `/member/${userId}/authority/deleteAdmin`,
                type: 'GET',
                success: function (response) {
                    if (response === 'success') {
                        alert('관리자 권한이 삭제되었습니다.');
                        location.reload();
                    }
                },
                error: function (xhr) {
                    if (xhr.status === 403) {
                        alert('권한이 없습니다.');
                    } else {
                        alert('오류가 발생했습니다.');
                    }
                }
            });
        });
    });

      // 관리자 유저 정보 비활성화
    function toggleActiveUser(element) {
        const userId = element.getAttribute('data-user-id');
        fetch(`/admin/${userId}/toggle-active-user`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(newStatus => {
                // 서버로부터 새로운 상태를 받아와 업데이트
                element.textContent = newStatus ? '활성화' : '비활성화';
            })
            .catch(error => {
                console.error('Error updating active status:', error);
            });
    }
</script>
</body>
</html>
