<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>

<!-- 첫 번째 게시글 목록 (제목: 게시글) -->
<div th:insert="~{fragment/board-list :: boardList('게시글', ${latestPosts1}, ${olderPosts1})}"></div>


<!-- 두 번째 게시글 목록 (제목: 챌린지) -->
<div th:insert="~{fragment/board-list :: boardList('게시글', ${latestPosts2}, ${olderPosts2})}"></div>


</body>
</html>
