<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MyPage Profile</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/mypage-profile.css" rel="stylesheet">
</head>
<body>
<div class="profile-container">
    <h2 class="profile-title">내 정보</h2>
    <div class="profile-content">
        <div class="profile-image">
            <div class="image-circle"></div>
        </div>
        <div class="profile-info">
            <p>닉네임</p>
            <p>등급 (활동점수)</p>
            <p>한줄 소개</p>
            <p>링크</p>
        </div>
    </div>
    <button class="edit-btn">수정</button>
</div>
</body>
</html>
